* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general */
.text-bold {
    font-weight: 900;
}

/* main {
    padding-left: 20px;
    padding-right: 20px;
} */

body {
    font-family: Nunito, 'OpenSans', sans-serif;
    background-color: #ffd400;

}

a {
    text-decoration: none;
}

p {
    font-family: 'OpenSans', sans-serif;
}

.wrapper {
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}

/* TOP-MENU */

.logo-img img {
    position: absolute;
}

.carousel-item {
    position: relative;
}

.overlay {
    background-color: rgba(0, 0, 0, 1);
}

.carousel-inner img {
    background-color: rgba(0, 0, 0, 0.8);
}

.carousel-caption {
    text-align: center;
}

.slider-title {
    color: #ffd400;
}

/* HEADER-MENU */

nav {
    background-color: #006400;
    border-bottom: 5px solid #FFDC00;
}

nav .container {
    max-width: 1200px;
    justify-items: center;
}

.primary-menu {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.primary-menu>li {
    position: relative;
}

.primary-menu>li>a {
    color: #FFD400;
    display: block;
    padding: 10px 20px;
}

.current-item>a,
.primary-menu>li:hover>a {
    background-color: #FFDC00 !important;
    color: #006400 !important;
}

.primary-menu>li:hover>.sub-menu {
    display: block;
}

.sub-menu>li {
    padding: 10px 10px;
}

.sub-menu>li>a {
    color: black;
}

.sub-menu {
    width: 180px;
    display: none;
    background-color: white;
    list-style-type: none;
    position: absolute;
    left: 0;
    top: 45px;
    margin: 0;
    padding: 0;

}

.has-children>a:hover:after {
    content: "";
    display: inline-block;
    margin-left: 6px;

    width: 6px;
    height: 6px;

    border-bottom: 2px solid #006400;
    border-right: 2px solid #006400;

    transform: rotate(45deg);
    vertical-align: middle;
}

.has-children>a::after {
    content: "";
    display: inline-block;
    margin-left: 6px;

    width: 6px;
    height: 6px;

    border-bottom: 2px solid #FFDC00;
    border-right: 2px solid #FFDC00;

    transform: rotate(45deg);
    vertical-align: middle;
}

.drop-down::after {
    content: "";
    display: inline-block;
    margin-left: 60px;

    width: 6px;
    height: 6px;

    border-top: 2px solid black;
    border-right: 2px solid black;

    transform: rotate(45deg);
    vertical-align: middle;
}


/* MAIN-BODY */
/* --------------------------------------------- ABOUT-US ------------------------ */

.about-us>.container {
    margin: 100px 0;
}

.about-image img {
    border-radius: 5px;
    height: auto;
    width: 100%;

}

.title-about {
    font-size: 50px;
    font-weight: 800;
    color: #005D00;
}

.fontawesome-icon {
    display: flex;
    padding: 5px;

}



.about-content {
    align-items: center;

}

.about-info-box p {
    font-size: 14px;
}

.about-info-box h5 {
    color: #005D00;
    font-size: 25px;
    font-weight: 800;
}



.about-info-box {
    height: 220px;
    text-align: left;
    padding: 30px;
    border-radius: 5px;
    border: 1px solid none;
    background-color: #F2F2F2;
}

.about-content>.fontawesome-icon i {
    font-size: 20px;
    color: #FFD400;
}

.about-content>.fontawesome-icon>.icon-1,
.about-content>.fontawesome-icon>.icon-2,
.about-content>.fontawesome-icon>.icon-3,
.about-content>.fontawesome-icon>.icon-4 {
    border-radius: 50%;
    text-align: center;
    margin: 5px;
    line-height: 35px;
    height: 30px;
    width: 32px;
    background-color: #006400;
}


/* --------------------------------------------- RESERVATION ------------------------ */

.reservations>.container {
    text-align: center;
    margin: 100px 0;

}

.title-reservations {
    color: #005D00;
    font-weight: 900;
    margin: 30px;
}

.form-reservation>form>button,
.form-reservation>form>input {
    border: 1px solid black;
    border-radius: 15px;
    width: 120px;
    height: auto;
}

.form-reservation>form>input {
    padding: 2px 10px;
}

.form-reservation>form>button {
    background-color: #005D00;
    color: #FFD400;
}

/* --------------------------------------------- FOOD-MENU ------------------------ */

.food-menu>.container {
    margin: 100px 0;
}

.food-menu-title {
    text-align: center;
    color: #005D00;
    font-weight: 900;
}

.food-card {
    width: 100%;
    max-width: 200px;
    height: auto;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 20px 0;
    margin-left: auto;
    margin-right: auto;
}

.food-card>img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.food-info {
    text-align: center;
    padding: 10px;
    background-color: #F2F2F2;
    border-radius: 0 0 10px 10px;
}

.food-info>h6 {
    color: #006400;
    font-weight: 800;
    font-size: 15px;
}

.price-food-menu {
    font-size: 14px;
}

.food-info>a {
    color: #FFD400;
    background-color: #005D00;
    border-radius: 15px;
    padding: 5px 10px;
    outline: none;
    margin-bottom: 10px;

}

/* --------------------------------------------- OUR-CHEFS ------------------------ */

.chefs>.container {
    background-color: #F2F2F2;
    padding: 40px 10px;
}

.chefs-title {
    text-align: center;
    color: #005D00;
    font-weight: 900;
    margin-top: 30px;
    margin-bottom: 30px;
}

.chef-card {
    width: 100%;
    max-width: 200px;
    height: auto;
    border: 2px solid none;
    border-radius: 10px;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;

}

.chef-info {
    text-align: center;
    padding: 10px;
    border-radius: 0 0 10px 10px;
}

.chef-info>.fontawesome-icon {
    justify-content: center;
    align-items: center;
}

.chef-card>img {
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
}

.chef-info>h6 {
    color: #006400;
    font-weight: 800;
    font-size: 22px;
}

.chef-position {
    font-size: 14px;
}

.chef-info .fontawesome-icon i {
    font-size: 20px;
    color: #FFD400;
}

.chef-info>.fontawesome-icon>.icon-1,
.chef-info>.fontawesome-icon>.icon-2,
.chef-info>.fontawesome-icon>.icon-4 {
    border-radius: 50%;
    text-align: center;
    margin: 5px;
    line-height: 35px;
    height: 30px;
    width: 32px;
    background-color: #006400;
}

/* --------------------------------------------- FEEDBACKS-LOVER ------------------------ */

.food-lover-title {
    text-align: center;
    color: #005D00;
    font-weight: 900;
    margin-top: 30px;
    margin-bottom: 30px;
}

.name-lover {
    color: #005D00;
    font-weight: 700;

}

.lover-comments i {
    font-style: italic;
    color: #005D00;
}

.lover-comments {
    font-style: italic;
}

.lover-img {
    text-align: center;
}

.lover-img img {
    max-width: 100%;
    width: 200px;
    height: auto;
    border-radius: 10px;

}

.lover-text {
    border-radius: 10px;
    background-color: #F2F2F2;
    padding: 20px 10px;
}

.carousel-indicators button {
    height: 25px;
    width: 25px;
    color: #005D00;
    background-color: #005D00;
}



/* --------------------------------------------- CONTACT-US ------------------------ */
.contact-us>.container {
    margin-top: 100px;
    margin-bottom: 100px;
}

.contact-title {
    text-align: center;
    color: #005D00;
    font-weight: 900;
    margin-top: 30px;
    margin-bottom: 30px;
}


.info-contact-card {
    border-radius: 5px;
    background-color: #006400;
    padding: 20px 20px;
}

.contact-detail>p,
.open-hours>p {
    color: white;
}

.contact-detail-tag,
.open-hour-tag {
    color: #FFD400;
}

.contact-detail {
    margin-top: 20px;
}

.open-hours {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.form-contact-card {
    background-color: #ffd400;
    border-radius: 5px;
}

.form-contact {
    padding: 10px;
}

.form-contact input,
.form-contact>textarea {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    width: 100%;
    background-color: #FFF3B3;
}

.form-contact>textarea {
    height: 172px;
}

.form-contact>button {
    font-size: 15px;
    border: 1px solid black;
    border-radius: 15px;
    width: 120px;
    height: 35px;
    background-color: #005D00;
    color: #FFD400;
}








/* BOTTOM - FOOTER */

.reservation-phone {
    text-align: center;
    padding: 20px 10px;
    color: #005E00;
    background-color: #FFD700;
    font-size: 35px;
    font-weight: 800;
}

.footer-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #006400;
    display: flex;
}

.copyright {
    border-right: 2px solid rgba(255, 255, 255, 0.25);
}


.newsletter,
.copyright {
    text-align: center;
}

.newsletter h4,
.copyright p {
    color: #FFD700;
}

.form-email {
    display: inline-flex;
}

.type-email {
    width: 300px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 15px 0 0 15px;
    padding: 0 60px 0 12px;
    font-size: 15px;
    background-color: #B3D1B3;
}

.button-submit {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 15px;
    background-color: #ffdc00;
    color: #006b08;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    margin-left: -80px;
}

/* scroll-to-top */
.go-to-top {
    width: 45px;
    height: 45px;
    background-color: #005D00;
    border-radius: 50%;

    position: fixed;
    right: 25px;
    bottom: 25px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
}

.go-to-top span {
    width: 13px;
    height: 13px;
    border-top: 3px solid white;
    border-left: 3px solid white;
    transform: rotate(45deg);
    margin-top: 6px;
}

@media (max-width: 767.98px) {
    .overlay-menu {
        background-color: rgba(0, 0, 0, 0.92);
    }

    nav {
        /* display: none; */
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 30%;
        background-color: black;
        border-bottom: none;
    }

    .current-item>a {
        background-color: transparent !important;
    }

    .container {
        padding: 5px 10px;

    }

    .primary-menu {
        display: inline-block;
        padding: 5px 10px;
    }

    .current-item li a,
    .primary-menu li a {
        color: #fff !important;
    }

    .sub-menu {
        position: relative;
    }

    .has-children>a::after {
        content: "";
        display: inline-block;
        margin-left: 6px;

        width: 6px;
        height: 6px;

        border-bottom: 2px solid #fff;
        border-right: 2px solid #fff;

        transform: rotate(45deg);
        position: absolute;

        top: 20px;
        right: 50px;
    }
}